body{
    background-image: linear-gradient(#0069CC,#0084FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
}

main{
    background-color: whitesmoke;
    padding: 10px;
    width: 600px;
    margin: auto;
}

h1{
    text-align: center;
}

.categorias {
    display: flex;
    justify-content:space-around ;
    list-style-type: none;
}

.categorias > div {
    margin: 20px;
    padding: 30px;
    border-radius: 10%;
}
    

.btn {
    background-color: rgb(147, 147, 248);


}

.btn:hover {
    background-color: crimson;
    box-shadow: 5px 5px 2px black;
    color: white;
}
